URL for this plot
<input id="link" value="{{=url}}" style="width:300px">
<input type="button" onclick="copyTextToClipboard('{{=url}}')" value="Copy">
<span id='selected_list' style="display:none">
Selected planets
<input id="selected_planets" value="" style="width:300px">
<input type="button" onclick="copyTextToClipboard($('#selected_planets').val())" value="Copy">
</span>
{{=XML(html)}}
{{=XML(script)}}

