{{request.title = "Filtergraph"}}
{{request.subtitle = "NASA Exoplanet Archive Data"}}
{{extend 'layout.html'}}

        <div class="col-md-3">

                <nav style="display:none" aria-label="...">
                        <ul class="pagination">
                          <li class="page-item {{if settings.mode == 'scatter':}}active{{pass}}">
                              <a class="page-link" href="/nea">Scatter Plot</a>
                            </li>
                          <li class="page-item {{if settings.mode == 'hist':}}active{{pass}}">
                            <a class="page-link" href="/nea?mode=hist">Histogram</a>
                          </li>
                        </ul>
                      </nav>

            <form method="post">
                
                <dt style="display:none"></dt>
                <dd style="display:none"><input class="btn btn-default" type="button" value="submit" onclick="refresh()"></dd><br/>
                    {{if settings.mode == "scatter":}}
                    <dt>X-axis:</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="xaxis",value=settings.xaxis,allownone=False,log=True,inv=True,logstate=settings.xaxislog,inverse=settings.xaxisinv,min=settings.xaxismin,max=settings.xaxismax,filter=True))}}
                    </dd>
                    <br/>
                    <dt>Y-axis:</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="yaxis",value=settings.yaxis,allownone=False,log=True,inv=True,logstate=settings.yaxislog,inverse=settings.yaxisinv,min=settings.yaxismin,max=settings.yaxismax,filter=True))}}
                    </dd>
                    <br/>
                    <dt>Color:</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="color",value=settings.color,allownone=True,log=True,inv=True,logstate=settings.colorlog,inverse=settings.colorinv))}}
                    </dd>
                    <br/>
                    <dt>Size:</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="size",value=settings.size,allownone=True,log=True,inv=True,logstate=settings.sizelog,inverse=settings.sizeinv))}}
                    </dd>
                    <br style="display:none" />
                    <dt style="display:none" >Alpha:</dt>
                    <dd style="display:none" >
                        {{=LOAD("default","dropdown.load",vars=dict(id="alpha",value=settings.alpha,allownone=True,log=True,inv=True,logstate=settings.alphalog,inverse=settings.alphainv))}}
                    </dd>
                    <dt style="display:none" >Function:</dt>
                    <dd style="display:none" >
                        <div style="display:table-row">
                                <div style="display:table-cell;vertical-align: middle">
                                    y =&nbsp;
                                </div>
                                <div style="display:table-cell">
                                    <input type="text" id="function" name="function" placeholder="e.g. x^2" class="form-control" style="width:250px" value="{{=settings.function or ''}}" onblur="refresh()">
                                </div>
                        </div>
                    </dd>
                    {{pass}}
                    {{if settings.mode == "hist":}}
                    <dt>X-axis:</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="xaxis",value=settings.xaxis,allownone=False,log=True,cumul=True,cumulstate=settings.xaxiscumul,min=settings.xaxismin,max=settings.xaxismax,filter=True))}}
                    </dd>
                    <br/>
                    <dt>Y-axis:</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="yaxis",value=settings.yaxis,allownone=True,min=settings.xaxismin,max=settings.xaxismax,filter=True,log=True))}}
                    </dd>
                    
                    <br/>
                    <dt>Number of columns:*</dt>
                    <dd>
                        <div style="display:table-row">
                            <div style="display:table-cell">
                                <input type="text" id="ncolumns" name="ncolumns" placeholder="Columns (default 30)" class="form-control" style="width:250px" value="{{=settings.ncolumns or ''}}" onblur="refresh()">
                            </div>
                        </div>
                    </dd>
                    <dt>Number of legend items:*</dt>
                    <dd></dd>
                        <div style="display:table-row">
                                <div style="display:table-cell">
                                    <input type="text" id="nlegend" name="nlegend" placeholder="Legend items (default 10)" class="form-control" style="width:250px" value="{{=settings.nlegend or ''}}" onblur="refresh()">
                                </div>
                        </div>
                    </dd>
                    {{pass}}
                    <br/>
                    <dt>Legend:</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="legend",value=settings.legend,choices=["top left","top center","top right","center left","center","center right","bottom left","bottom center","bottom right"]))}}
                    </dd>
                    <br/>
                    <dt>Palette (categorical variables):</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="discrete_palette",value=settings.discrete_palette,choices=discrete_palettes.keys()))}}
                    </dd>
                    <br/>
                    {{if settings.mode == "scatter":}}
                    <dt>Palette (continuous variables):</dt>
                    <dd>
                        {{=LOAD("default","dropdown.load",vars=dict(id="continuous_palette",value=settings.continuous_palette,choices=continuous_palettes.keys()))}}
                    </dd>
                    <br/>
                    {{pass}}
                    <dt>Theme:</dt>
                    <dd>
                        <input type="checkbox" {{if request.vars.darkmode:}}checked="checked"{{pass}} id="darkmode" name="darkmode" onclick="refresh()">
                        <label for="darkmode">Dark mode</label>
                    </dd>
                    <br/>
                    <dt>Labels:</dt>
                    <dd>
                        <div style="display:table-row">
                            <div style="display:table-cell">
                                <input type="text" id="titlelabel" name="titlelabel" placeholder="Title" class="form-control" style="width:250px" value="{{=settings.titlelabel or ''}}" onblur="refresh()">
                            </div>
                            <div style="display:table-cell">
                                <input type="text" id="titlelabelsize" name="titlelabelsize" placeholder="Size" class="form-control" style="width:80px" value="{{=settings.titlelabelsize or ''}}" onblur="refresh()">
                            </div>
                        </div>
                        <div style="display:table-row">
                                <div style="display:table-cell">
                                    <input type="text" id="xaxislabel" name="xaxislabel" placeholder="X-axis label" class="form-control" style="width:250px" value="{{=settings.xaxislabel or ''}}" onblur="refresh()">
                                </div>
                                <div style="display:table-cell">
                                    <input type="text" id="xaxislabelsize" name="xaxislabelsize" placeholder="Size" class="form-control" style="width:80px" value="{{=settings.xaxislabelsize or ''}}" onblur="refresh()">
                                </div>
                        </div>
                        <div style="display:table-row">
                                <div style="display:table-cell">
                                    <input type="text" id="yaxislabel" name="yaxislabel" placeholder="Y-axis label" class="form-control" style="width:250px" value="{{=settings.yaxislabel or ''}}" onblur="refresh()">
                                </div>
                        </div>
                        <div style="display:table-row">
                            <div style="display:table-cell">
                                <input type="text" id="axistick" name="axistick" placeholder="Tick marks on each axis" class="form-control" style="width:250px" disabled="disabled" value="Tick marks on each axis" onblur="refresh()">
                            </div>
                            <div style="display:table-cell">
                                <input type="text" id="axisticksize" name="ticksize" placeholder="Size" class="form-control" style="width:80px" value="{{=settings.ticksize or ''}}" onblur="refresh()">
                            </div>
                        </div>
                        <div style="display:table-row">
                            <div style="display:table-cell">
                                <input type="text" id="legendlabel" name="legendlabel" placeholder="Legend title" class="form-control" style="width:250px" value="{{=settings.legendlabel or ''}}" onblur="refresh()">
                            </div>
                            <div style="display:table-cell">
                                <input type="text" id="legendlabelsize" name="legendlabelsize" placeholder="Size" class="form-control" style="width:80px" value="{{=settings.legendlabelsize or ''}}" onblur="refresh()">
                            </div>
                        </div>
                    </dd>
                    {{if settings.mode == "hist":}}
                    <dt></dt>
                    <dd><em>*May be more or less depending on the data content. Maximum of 10 legend items.</em></dd>
                    {{pass}}
                    <input type="hidden" id="width" name="width">
                    <input type="hidden" id="height" name="height">
                    <input type="hidden" id="mode" name="mode" value="{{=settings.mode}}">
            </form>
        </div>
        <div class="col-md-9" style="display:table-cell;vertical-align:middle;text-align:center">
            <div style="background: #dddddd; height:calc(100vh - 160px)" id="graph">
            </div>
        </div>

<script>
$("#width").val($("#graph").width());
$("#height").val($("#graph").height());
refresh();

function refresh() {
    items = []
    $("form input[name]").each(function() {
        items.push(this.name)
    });

    ajax('/nea/default/graph',items,'graph');
}

function roundToSix(num) {    
    return +(Math.round(num + "e+6")  + "e-6");
}

//ref: https://stackoverflow.com/questions/400212/
function fallbackCopyTextToClipboard(text) {
  var textArea = document.createElement("textarea");
  textArea.value = text;
  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Fallback: Copying text command was ' + msg);
  } catch (err) {
    console.error('Fallback: Oops, unable to copy', err);
  }

  document.body.removeChild(textArea);
}
function copyTextToClipboard(text) {
  if (!navigator.clipboard) {
    fallbackCopyTextToClipboard(text);
    return;
  }
  navigator.clipboard.writeText(text).then(function() {
    console.log('Async: Copying to clipboard was successful!');
  }, function(err) {
    console.error('Async: Could not copy text: ', err);
  });
}

//http://stackoverflow.com/questions/641857/javascript-window-resize-event
var count = 0;
window.onresize = function(event) {
    $("#width").val($("#graph").width());
    $("#height").val($("#graph").height());
    count += 1;
    setTimeout("resizeTest("+count+")",250);
}

function resizeTest(c) {
    if (c == count)
    {
        refresh();
    }
}

</script>

<style>
    .bk-tooltip div:nth-child(n+2) {
        display:none;
    }
</style>