<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://photos-d.ak.instagram.com/hphotos-ak-xpf1/t51.2885-15/10546767_1472469793000507_1387082314_n.jpg" alt="...">
      <div class="carousel-caption">
        <h5 >Spring, Summer…</h5 >
      </div>
    </div>
    <div class="item">
      <img src="http://photos-c.ak.instagram.com/hphotos-ak-xfp1/t51.2885-15/10375656_786933054664778_611604371_n.jpg" alt="...">
      <div class="carousel-caption">
        <h5 >Fitzgerald, Le Chat</h5 >
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" data-icon='y'></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" data-icon='x'></span>
    <span class="sr-only">Next</span>
  </a>
</div>