<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  Dropdown
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Settings</a></li>
    <li role="presentation" class="divider"></li>
    <li><a href="#">Sign Out</a></li>
</ul>