<form class="">
  <div class="checkbox">
    <label>
      Option Checkbox
      <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
    </label>
  </div>
  <div class="radio">
    <label>
      Option Radio
      <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
    </label>
  </div>
</form>