<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#scatter-plot-collapse" aria-expanded="false" aria-controls="scatter-plot-collapse">
  Button with data-target
</button>

<div class="collapse" id="scatter-plot-collapse">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input  type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Choose</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Cork/Kerry</option>
          <option>Shannon</option>
          <option>West Ireland</option>
          <option>East Ireland</option>
          <option>Midlands East Ireland</option>
          <option>North West Ireland</option>
          <option>Northern Ireland</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
   </form>
</div>