<ul class="nav nav-pills nav-stacked">
    <li><a href="#">Creating an Account</a></li>
    <li class="active"><a href="#">Uploading Datasets</a></li>
    <li><a href="#">Supported File Types</a></li>
    <li><a href="#">Accessing your Portal</a></li>
</ul>