<ul class="pagination">
  <li>
    <a href="#" aria-label="Previous">
      <span aria-hidden="true"  data-icon='y'></span>
    </a>
  </li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li class="active"><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li>
    <a href="#" aria-label="Next">
      <span aria-hidden="true" data-icon='x'></span>
    </a>
  </li>
</ul>