<div role="tabpanel">

  <!-- Nav tabs -->
  <ul id='tabs' class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <br>
        <p>Tab One: Home</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <br>
        <p>Tab Two: Profile</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
        <br>
        <p>Tab Three: Messages</p>
    </div>

  </div>
</div>