{{from bokeh import __version__ as bokeh_version}}<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Filtergraph</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="//use.typekit.net/ioz3vhm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="{{=URL('static','telegraph/app/styles/app.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-{{=bokeh_version}}.min.css" type="text/css" />
    {{include 'web2py_ajax.html'}}
  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default expanded" role="navigation">
      <div class="container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Filtergraph</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav  navbar-left">
            <li><a href="" style="padding-bottom:0px;padding-top:0px;margin-top:18px;border-left:1px solid"><big>{{=nea_config.get("general","name")}}</big><br/>{{=nea_config.get("general","description")}}<br/>Source: {{=nea_config.get("general","source_1")}}</a></li>
          </ul>
          <ul class="nav navbar-nav  navbar-right">
              <li class="pill"><a href="/nea">Scatter Plot</a></li>
            <li class="pill"><a href="/nea?mode=hist">Histogram</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <!-- Portal View -->
    <div class="portal-container col-lg-12" style="padding:20px">

      {{include}}
    </div>


    <script src="{{=URL('static','telegraph/bower_components/jquery/dist/jquery.js')}}"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-42525552-1');ga('send','pageview');
    </script>

    <script src="{{=URL('static','telegraph/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','telegraph/app/scripts/min/main.min.js')}}"></script>

    
    <script src="{{=URL('static','js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-{{=bokeh_version}}.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-{{=bokeh_version}}.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.js"></script>


  </body>
</html>