@charset "UTF-8";

@font-face {
  font-family: "filtergraph";
  src:url("filtergraph.eot");
  src:url("filtergraph.eot?#iefix") format("embedded-opentype"),
    url("filtergraph.woff") format("woff"),
    url("filtergraph.ttf") format("truetype"),
    url("filtergraph.svg#filtergraph") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "filtergraph" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "filtergraph" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "b";
}
.icon-clip-paper-1:before {
  content: "d";
}
.icon-antenna:before {
  content: "f";
}
.icon-close-button-2:before {
  content: "h";
}
.icon-information-1:before {
  content: "g";
}
.icon-add-botton-3:before {
  content: "i";
}
.icon-attention-1:before {
  content: "j";
}
.icon-close-off-1:before {
  content: "k";
}
.icon-move-right-1:before {
  content: "l";
}
.icon-move-left-1:before {
  content: "m";
}
.icon-pointer-crosshair-2:before {
  content: "a";
}
.icon-delete-trash-1:before {
  content: "c";
}
.icon-eye-view-1:before {
  content: "n";
}
.icon-edit-pen-6:before {
  content: "o";
}
.icon-add-file-2:before {
  content: "e";
}
.icon-accept-check-file:before {
  content: "p";
}
.icon-copy-duplicate-files:before {
  content: "q";
}
.icon-glasses:before {
  content: "r";
}
.icon-adjust:before {
  content: "s";
}
.icon-gear-setting-2:before {
  content: "t";
}
.icon-check-8:before {
  content: "v";
}
.icon-chevron-medium-4-01:before {
  content: "x";
}
.icon-chevron-medium-3-01:before {
  content: "y";
}
.icon-chevron-medium-2-01:before {
  content: "z";
}
.icon-chevron-medium-1-01:before {
  content: "A";
}
.icon-facebook:before {
  content: "B";
}
.icon-twitter:before {
  content: "C";
}
.icon-gplus:before {
  content: "D";
}
.icon-youtube:before {
  content: "E";
}
.icon-letter-mail-1:before {
  content: "F";
}
.icon-bubble-lines-talk:before {
  content: "H";
}
.icon-click-hand-5:before {
  content: "J";
}
.icon-play-1:before {
  content: "M";
}
.icon-cloud-upload-3:before {
  content: "P";
}
.icon-download-refresh:before {
  content: "Q";
}
.icon-spaceship:before {
  content: "R";
}
.icon-analytics-chart-graph:before {
  content: "S";
}
.icon-help-question-2:before {
  content: "u";
}
